# Database Configuration
DB_NAME=casa_te
DB_PASSWORD=admin123
DB_ROOT_PASSWORD=admin123
DB_USER=root

# Server Ports
AUTH_SERVER_PORT=
BUSINESS_SERVER_PORT=

# Security / OAuth2
JWT_ISSUER_URI=
CLIENT_ID=
CLIENT_SECRET=
